html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  color: black
}

h1{
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Navigation/Hero Area */

header {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}

nav {
  background-color: cadetblue;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}


nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

nav ul {
  margin-right: 1rem;
}

nav ul li {
  margin: 0 1rem;
  display: inline;
}

nav img {
  height: 1.5rem;
  width: auto;
  margin: 0 1rem 0 2rem;
}

.company-name {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-nav {
  display: none;
}


@media only screen and (max-width: 960px) {

  header {
    padding: 0;
    height: 22rem;
    background-position: left;
    -webkit-transition: .3s;
    transition: .3s;
  }

}

@media only screen and (max-width: 700px) {

  header {
    height: 17rem;
    background-position: 20%;
  }

}


/* Hero Callout Area */

.main-banner {
  background: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
  display: inline-block;
  float: right;
}

@media only screen and (max-width: 960px) {

  .main-banner {
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
    -webkit-transition: .3s;
    transition: .3s;

  }

  h1 {
    font-size: 1rem;
  }

}

@media only screen and (max-width: 700px) {

  .main-banner {
    padding: 0 1rem;
    margin: 9rem auto 0 auto;
    width: 100%;
    text-align: center;
  }

  h1 {
    font-size: 1rem;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .company-name {
    display: none;
  }

}

/* Services Icon */

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
}

.service-img {
  max-width: 5rem;
  margin-bottom: 1rem;
}



.paper-icon {
  width: 3.5rem;
}

@media only screen and (max-width: 560px) {

  .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 3.77rem;
  }

  .service {
    height: auto;
    margin: .77rem;
    font-size: .77rem;
  }

  .paper-icon {
    margin-bottom: .77rem;
  }

}

/* Info Section */

.company-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.details {
  width: 35%;
}

.details h4 {
  background-color: cadetblue;
  color: white;
  padding: 0.5rem 0 0.5rem 1.25rem;
  width: 10rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.4rem;
}

@media only screen and (max-width: 700px) {

  .company-info  {
    display: block;
  }

  .details {
    width: 100%;
  }

  .details h4 {
    width: 100%;
    margin-bottom: 1rem;
  }

  .details p {
    font-size: 0.77rem;
    line-height: 1rem;
    margin-bottom: 4rem;
    padding: 0 1.25rem;

  }

}

/* Footer Content */

.copyright {
  background-color: azure;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.copyright img {
  height: 1.5rem;
  width: auto;
  margin: 4rem 1rem 4rem 4rem;
}

@media only screen and (max-width: 560px) {

  .hide {
    display: none;
  }

  .copyright {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 4rem 0;
  }

  .copyright img{
    margin: 0;
  }

}
